footer{
  background-color: $color-quinto;
  display: flex;
  flex-direction: column;


  .fot{
    color: $color-secundario;
    display: flex;
    justify-content: center;

  }

}

    
    
    


