//lista de colores
$color-primario: black;
$color-secundario: rgb(237, 237, 237);
$color-terciario: rgb(79, 91, 80);
$color-cuarto: rgb(137, 155, 142);
$color-quinto: rgb(113, 113, 113);


//lista de texto
$tamaño-titulo: 30px;
$tamaño-h:25px;
$tamaño-p:20px ;

$fuente-general: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


 
